* {
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    margin-top: 0.9vh;
}

.navbar {
    width: 100%;
    height: 10%;
    background-color: #1b262c;
    color: white;
    font-size: 2vw;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.tombol {
    padding: 0.5%;
}

.welcome {
    text-align: center;
}

.bio {
    text-align: center;
}

.mypic {
    width: 20vw;
    border-radius: 50%;
}

.socmed {
    text-align: center;
}

.img {
    width: 5vw;
}

.ig {
    display: inline-block;
}

.gitlab {
    display: inline-block;
}